h1 {
  font-size: 3.2em;
  color:#242424;
  font-family: 'Creepster', cursive;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  color: #242424;
  display: flex;
  justify-content: space-around;
}

.cardContainer {
  min-height: 100vh;
  height: auto;
  width: 90%;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  padding: 10px;
  border-radius: 10px;
}

.cards{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card {
  height: 350px;
  width: 20%;
  font-weight: 700;
  background-color: #242424;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 40px;
  border: 2px solid rgb(70, 70, 70);
  ;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.card img{
  height: 90%;
  border-radius: 10px;
}

.gameOver{
  height: 300px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(211, 47, 47);
  background-color: rgb(247, 247, 247);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../public/gameover.webp');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px rgb(196, 37, 37);
}

.gameOver button{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: transparent;
  background-color: #7676F4;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  
  cursor: pointer;
  transition: all 0.5s;

  &:hover{
    transform: translateY(-5px);
  }
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
}
